.ic {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.ic-secure {
  width: 29px;
  height: 32px;
  background-position: 0 0;
}
.ic-open-new-tab {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.ic-zalo {
  width: 33px;
  height: 32px;
  background-position: -96px 0;
}
.ic-double-up {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.ic-double-down {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.ic-ship-filled {
  width: 55px;
  height: 32px;
  background-position: -240px 0;
}
.ic-credit-card-filled {
  width: 48px;
  height: 32px;
  background-position: -336px 0;
}
.ic-exclusive {
  width: 41px;
  height: 32px;
  background-position: -432px 0;
}
.ic-globe {
  width: 35px;
  height: 32px;
  background-position: -528px 0;
}
.ic-home-new {
  width: 32px;
  height: 32px;
  background-position: -576px 0;
}
.ic-home-sale {
  width: 32px;
  height: 32px;
  background-position: -624px 0;
}
.ic-check-mark {
  width: 42px;
  height: 32px;
  background-position: -672px 0;
}
.ic-user {
  width: 30px;
  height: 32px;
  background-position: 0 -48px;
}
.ic-return-none {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}
.ic-bag-empty {
  width: 29px;
  height: 32px;
  background-position: -96px -48px;
}
.ic-close {
  width: 32px;
  height: 32px;
  background-position: -144px -48px;
}
.ic-arrow-chevron-slide {
  width: 30px;
  height: 32px;
  background-position: -192px -48px;
}
.ic-arrow-down {
  width: 54px;
  height: 32px;
  background-position: -240px -48px;
}
.ic-arrow-up {
  width: 54px;
  height: 32px;
  background-position: -336px -48px;
}
.ic-lock {
  width: 22px;
  height: 32px;
  background-position: -432px -48px;
}
.ic-bag {
  width: 29px;
  height: 32px;
  background-position: -480px -48px;
}
.ic-menu {
  width: 36px;
  height: 32px;
  background-position: -528px -48px;
}
.ic-time {
  width: 32px;
  height: 32px;
  background-position: -576px -48px;
}
.ic-thunder {
  width: 32px;
  height: 32px;
  background-position: -624px -48px;
}
.ic-vietnam {
  width: 32px;
  height: 32px;
  background-position: -672px -48px;
}
.ic-teacup {
  width: 26px;
  height: 32px;
  background-position: -720px -48px;
}
.ic-arrow-left-2 {
  width: 32px;
  height: 32px;
  background-position: 0 -96px;
}
.ic-arrow-left {
  width: 32px;
  height: 32px;
  background-position: -48px -96px;
}
.ic-arrow-right {
  width: 32px;
  height: 32px;
  background-position: -96px -96px;
}
.ic-close-circle {
  width: 32px;
  height: 32px;
  background-position: -144px -96px;
}
.ic-credit {
  width: 32px;
  height: 32px;
  background-position: -192px -96px;
}
.ic-crown {
  width: 32px;
  height: 32px;
  background-position: -240px -96px;
}
.ic-fire {
  width: 32px;
  height: 32px;
  background-position: -288px -96px;
}
.ic-guarantee {
  width: 32px;
  height: 32px;
  background-position: -336px -96px;
}
.ic-heart-border {
  width: 32px;
  height: 32px;
  background-position: -384px -96px;
}
.ic-heart-fill {
  width: 32px;
  height: 32px;
  background-position: -432px -96px;
}
.ic-help {
  width: 32px;
  height: 32px;
  background-position: -480px -96px;
}
.ic-minus {
  width: 32px;
  height: 32px;
  background-position: -528px -96px;
}
.ic-order-status {
  width: 29px;
  height: 32px;
  background-position: -576px -96px;
}
.ic-pay {
  width: 32px;
  height: 32px;
  background-position: -624px -96px;
}
.ic-phone {
  width: 32px;
  height: 32px;
  background-position: -672px -96px;
}
.ic-plus {
  width: 32px;
  height: 32px;
  background-position: -720px -96px;
}
.ic-return {
  width: 32px;
  height: 32px;
  background-position: 0 -144px;
}
.ic-ship {
  width: 32px;
  height: 32px;
  background-position: -48px -144px;
}
.ic-simple-checkout {
  width: 32px;
  height: 32px;
  background-position: -96px -144px;
}
.ic-google-plus {
  width: 32px;
  height: 32px;
  background-position: 0 -192px;
}
.ic-facebook {
  width: 32px;
  height: 32px;
  background-position: -48px -192px;
}
.ic-instagram {
  width: 32px;
  height: 32px;
  background-position: -96px -192px;
}
.ic-linkedin2 {
  width: 32px;
  height: 32px;
  background-position: -144px -192px;
}
.ic-spinner11 {
  width: 32px;
  height: 32px;
  background-position: -192px -192px;
}
